<h2 class="dialog-title" mat-dialog-title>{{data.nome}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col s12 m4">
      <img class="mat-elevation-z4 movie-poster-dialog" src="{{data.poster}}" alt="{{data.nome}}">
    </div>
    <div class="col s12 m8">
      <p>Ano de lançamento: {{data.ano}}</p>
      <p>Gênero: {{data.genero}}</p>
      <p>Direção: {{data.diretor}}</p>
      <p>Sinopse: <br />{{data.descricao}}</p>
    </div>
  </div>
</mat-dialog-content>