<mat-toolbar color="primary">
  <span>Filmes</span>
</mat-toolbar>

<section class="content">
  <div class="card-container" *ngFor="let movie of movies">
    <mat-card>
      <img class="movie-poster" mat-card-image src="{{movie.poster}}" alt="{{movie.nome}}">
      <mat-card-title>{{movie.nome}}</mat-card-title>
      <mat-card-subtitle>{{movie.ano}} - {{movie.genero}}</mat-card-subtitle>
      <mat-card-content>
        <p>Direção: {{movie.diretor}}</p>
        <p>{{movie.descricao}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-container" *ngFor="let movie of movies">
    <mat-card>
      <img class="movie-poster" mat-card-image src="{{movie.poster}}" alt="{{movie.nome}}">
      <mat-card-title>{{movie.nome}}</mat-card-title>
      <mat-card-subtitle>{{movie.ano}} - {{movie.genero}}</mat-card-subtitle>
      <mat-card-content>
        <p>Direção: {{movie.diretor}}</p>
        <p>{{movie.descricao}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>