<mat-toolbar color="primary">
  <span>YYZ Filmes e Séries</span>
  <span class="spacer"></span>
</mat-toolbar>

<section class="content">
  <div class="row">
    <div class="col s10"></div>
    <div class="col s2">
      <button class="right" [class.activeLayout]="verificaLayout('list')" (click)="alteraLayout('list')" matTooltip="Visão em lista" mat-icon-button aria-label="Visão em lista">
        <mat-icon>view_list</mat-icon>
      </button>
      <button class="right" [class.activeLayout]="verificaLayout('grid')" (click)="alteraLayout('grid')" matTooltip="Visão em grid" mat-icon-button aria-label="Visão em grid">
        <mat-icon>grid_view</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>Lançamentos em destaque<small *ngIf="verificaLayout('grid')" class="title-small">(clique para ver detalhes)</small></h2>
    </div>
  </div>
  <mat-accordion multi>
    <div class="row">
      <div class="col s12" [class.m2]="verificaLayout('grid')" *ngFor="let movie of movies; let i = index;">
        <mat-card *ngIf="verificaLayout('grid')" (click)="openDialog(i)" class="mat-elevation-z4 movie-card">
          <img class="movie-poster" mat-card-image src="{{movie.poster}}" alt="{{movie.nome}}">
          <mat-card-title>{{movie.nome}}</mat-card-title>
          <mat-card-subtitle>{{movie.ano}} - {{movie.genero}}</mat-card-subtitle>
        </mat-card>

        <expansion-list [movie]="movie" *ngIf="verificaLayout('list')"></expansion-list>
      </div>
    </div>
  </mat-accordion>
</section>