<mat-toolbar color="primary">
  <span>YYZ Filmes e Séries</span>
  <span class="spacer"></span>
  <button matTooltip="Meu perfil" mat-icon-button aria-label="Meu perfil">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button matTooltip="Sair" mat-icon-button aria-label="Sair">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<section class="content">
  <div class="row">
    <div class="col s10"></div>
    <div class="col s2">
      <button class="right" [class.activeLayout]="verificaLayout('list')" (click)="alteraLayout('list')" matTooltip="Visão em lista" mat-icon-button aria-label="Visão em lista">
        <mat-icon>view_list</mat-icon>
      </button>
      <button class="right" [class.activeLayout]="verificaLayout('grid')" (click)="alteraLayout('grid')" matTooltip="Visão em grid" mat-icon-button aria-label="Visão em grid">
        <mat-icon>grid_view</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>Lançamentos em destaque<small *ngIf="verificaLayout('grid')" class="title-small">(clique para ver detalhes)</small></h2>
    </div>
  </div>
  <mat-accordion multi>
    <div class="row">
      <div class="col s12" [class.m2]="verificaLayout('grid')" *ngFor="let movie of movies; let i = index;">
        <mat-card *ngIf="verificaLayout('grid')" (click)="openDialog(i)" class="mat-elevation-z4 movie-card">
          <img class="movie-poster" mat-card-image src="{{movie.poster}}" alt="{{movie.nome}}">
          <mat-card-title>{{movie.nome}}</mat-card-title>
          <mat-card-subtitle>{{movie.ano}} - {{movie.genero}}</mat-card-subtitle>
        </mat-card>

        <mat-expansion-panel *ngIf="verificaLayout('list')">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{movie.nome}}
            </mat-panel-title>
            <mat-panel-description>
              {{movie.ano}} - {{movie.genero}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>
</section>

